<li>
  <%= link_to property.title, property_path(property) %> | <%= property.bedrooms %> bedroom(s) for <%= number_to_currency(property.price) %> / night
   <p>
      <% if property.image_file_name %>
        <%= image_tag property.image.url(:small) %>
      <% end %>
    </p>
  <div class="rent_options">
    <% if property.average_rating != 0 %>
      Average Rating: <%= "%.1f" % property.average_rating %>
    <% else %>
      Average Rating: Not rated
    <% end %>
    <% if property.rented %>
      | <i>Property has been rented.</i><br/><br/>
      <% if current_user %>
        <% if current_user.id == property.owner.id %>
          <span class="edit_links"><%= link_to user_property_path(property.owner, property, property: {:rented => false}), method: "patch" do %>
            Make Available
          <% end %></span>
        <% end %>
      <% end %>
    <% else %>
      | <i>Property available.</i><br/><br/>
      <% if current_user %>
       <span class="edit_links"><% if current_user.id == property.owner.id %>
          <%= link_to "Edit", edit_user_property_path(current_user, property), remote: true %> |
          <%= link_to "Remove", user_property_path(current_user, property), :data => {:confirm => "Are you certain?", :method => "delete"} %></span>
        <% end %>
      <% end %>
    <% end %>
  </div>
</li>
