<li>
  <p><%= link_to rental.property.title, property_path(rental.property) %> | <i>Rented from <%= rental.start_date.strftime("%B %d") %> to <%= rental.end_date.strftime("%B %d") %></i>
  <% if !rental.rating %>
    [ <span id="rating"><%= link_to "Rate it!", new_rental_rating_path(rental), id: "add-rating-#{rental.id}", remote: true %></span> ]</p>
  <% else %>
    <span id="rated"> [ Rating: <%= rental.rating.value %> ]</p></span>
  <% end %>
</li>
